body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.reserveren-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.reserveren-container h2 {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
    margin-top: 50px;
}
